body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  color: white !important;
  text-decoration: none;
}

.container {
  min-height: 500px;
  max-width: 1150px;
  margin: auto;
  padding-top: 140px;
}

.header_container {
  background-color: black;
  min-height: 85px;
  /* margin-bottom: 40px; */
  position: fixed;
  width: 100%;
  z-index: 2;
}

header {
  max-width: 1150px;
  background-color: black;
  min-height: 85px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1f2833;
}

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: "Playfair Display", serif;
}

.navbutton {
  display: inline-block;
  padding: 10px 12px;
}

.navbutton:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.btn {
  font-size: 1rem;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black !important;
  transition: 0.7s;
}

.main {
  font-size: 1.5rem;
  /* background-color: red; */
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}

.hello {
  color: #60fcf1;
}

.typewriter {
  color: #60fcf1;
}

main p {
  max-width: 730px;
  padding-bottom: 40px;
}

.about {
  /* background-color: blue; */
  min-height: 300px;
  margin-bottom: 50px;
}

.section_title {
  text-align: center;
  padding: 50px 0;
}

.about_section {
  display: flex;
  justify-content: space-between;
}

.projects {
  /* background-color: violet; */
  min-height: 300px;
}

.contacts {
}

.contact_section {
  display: flex;
  justify-content: space-between;
}

.contact_left {
}

.contact_info {
  background-color: #1f2833;
  padding: 25px 50px 100px 50px;

  border-radius: 5px;
}
.info {
  padding-bottom: 20px;
}

.social_media {
  margin-top: 100px;
  background-color: #1f2833;
  padding: 25px 50px 100px 50px;
  border-radius: 5px;
}

.contact_right {
  background-color: #1f2833;
  padding: 20px 10px;
  border-radius: 5px;
}

.git {
  text-align: center;
}

.inputwrapper {
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 12px 20px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  box-sizing: border-box;
}
.newline {
  display: block;
  margin-bottom: 10px;
}
input.btn {
  color: white;
}

footer {
  /* background-color: thistle; */
  min-height: 85px;
  margin-top: 3rem;
  border-top: 1px solid #1f2833;
}

footer p {
  text-align: center;
  vertical-align: text-bottom;
  padding-top: 3rem;
}
